:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('/assets/fonts/RedHatText-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Text';
}

html, body {
    height: 100%;
    background-color: var(--rose-100);
}

.app-container, main, .product-list, .product-item {
    display: flex;
    flex-direction: column;
}
@media(min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width: 700px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media(min-width: 700px) {
    .product-list > h1 {
        grid-column: 1 / 4;
    }
}

main {
    gap: 1rem;
}

.app-container {
    padding: 1rem;
}

.product-item-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item-image > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.product-item-image > button {
    width: 50%;
    height: 3rem;
    position: relative;
    top: -25px;
    border-radius: 30px;
    background-color: white;
}

.product-name {
    margin-bottom: 1rem;
}

.price {
    margin: 0;
    color: var(--red);
}

.cart {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    height: fit-content;
}

.cart > h2 {
    margin: 0;
    color: var(--red);
}

.cart > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}